<div class="wrap">
	<div class="container">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
					<div class="row">
						<div class="col-md-8">
							<div class="jumbotron listingBox">
								<h3>
								{{ listingInformation.jobTitle }}
							</h3>
								<p><span class="glyphicon glyphicon-map-marker"></span> {{ listingInformation.jobAddressStreet }}, {{ listingInformation.jobAddressCity
									}}, {{ listingInformation.jobAddressCountry }}, {{ listingInformation.jobAddressPostal }}</p>
								<p>
									{{ listingInformation.jobDescription }}
								</p>
								<ul class="nav nav-pills tags">
									<li class="active">
										<a href class="btn btn-primary btn-xs">{{ listingInformation.jobCategory }}</a>
									</li>
								</ul>
								<div class="row">
									<div class="col-md-12 requestorInfo">
										 <img ng-show="requestorPicture == null" alt="User Avatar" src="images/default_avatar.png" class="img-circle requestorAvatar" />
                       					 <img ng-show="requestorPicture != null" alt="User Avatar" src="{{ requestorPicture }}" class="img-circle requestorAvatar" />
										<span class="requestorName">{{ requestor }}</span>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<form role="form" name="bidForm" novalidate>
								<div class="form-group" ng-class="{ 'has-error' : bidForm.bid.$invalid && !bidForm.bid.$pristine }">
									<label for="bidPrice">
										Offer
									</label>
									<input type="number" ng-model="bidPrice" name="bid" class="form-control" id="bidPrice" ng-minlength="1" required/>
                                    
                                    <p ng-show="bidForm.bid.$invalid && !bidForm.bid.$pristine" class="help-block">Enter valid bid.</p>
								</div>
								<button type="submit" class="btn btn-default" ng-disabled="bidForm.$invalid" ng-click="placeBid()">
									Submit
								</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>