<div class="wrap">
	<div class="container">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
					<div class="jumbotron">
						<h2>
							{{ managementInformation.jobTitle }}
						</h2>
						<p><span class="glyphicon glyphicon-map-marker"></span> {{ managementInformation.jobAddressStreet }}, {{ managementInformation.jobAddressCity }}, {{ managementInformation.jobAddressCountry }}, {{ managementInformation.jobAddressPostal }}</p>
								<p>
									{{ managementInformation.jobDescription }}
								</p>
					</div>
					<div class="row">
						<div class="col-md-4">
							<div class="thumbnail">
								<img alt="Bootstrap Thumbnail First" src="http://lorempixel.com/g/400/250/sports" />
							</div>
						</div>
						<div class="col-md-4">
							<div class="thumbnail">
								<img alt="Bootstrap Thumbnail First" src="http://lorempixel.com/g/400/250/business" />
							</div>
						</div>
						<div class="col-md-4">
							<div class="thumbnail">
								<img alt="Bootstrap Thumbnail First" src="http://lorempixel.com/g/400/250/nightlife" />
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-8">
							<h3>
						Requestor Information
					</h3><img alt="Bootstrap Image Preview" src="http://lorempixel.com/140/140/" />
							<p>
								<h2 class="text-left">{{ requestorInfo.userFullName }}</h2>
								<p><span class="glyphicon glyphicon-map-marker"></span> {{ requestorInfo.userAddressStreet }}, {{ requestorInfo.userAddressCity }},
									{{ requestorInfo.userAddressCountry }}, {{ requestorInfo.userAddressPostal }}</p>
								<p><span class="glyphicon glyphicon-earphone"></span> {{ requestorInfo.userPhone }}</p>
								<h3 class="text-success text-right" ng-repeat="bid in acceptedBidList">
									{{ bid.bidPrice | currency }} <small>{{ bid.bidDate | date:'MM/dd/yyyy' }}</small>
								</h3>
							</p>
							
						</div>
						<div class="col-md-4">
							<h3>
								Job Finished? Submit a review to share your experience! 
							</h3>
							<form role="form">
								<div class="form-group">
									<label for="comment">
										Comment
									</label>
									<input type="text" ng-model="reviewComment" class="form-control" id="comment" />
								</div>
								<input type="text" ng-model="rate" id="starRating">
								<button type="submit" class="btn btn-primary" ng-click="reviewProvider(managementInformation.id, managementInformation.requestorId, managementInformation.providerId)">Submit Review</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>