<div class="wrap">
  <div class="container">
    <form>
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-8">
          <div class="panel panel-default">
            <div class="panel-heading"><strong>Listing Information</strong></div>
            <div class="panel-body">
              <div class="form-group">
                <label for="title">Title:</label>
                <input type="text" class="form-control" id="title" ng-model="listingTitle" required>
              </div>
              <div class="form-group">
                  <label for="category">Category:</label>
                  <select class="form-control" id="category" ng-model="listingCategory" required>
                    <option>Home Renovation</option>
                    <option>Technology</option>
                    <option>Automotive</option>
                    <option>Creative</option>
                    <option>Personal Services</option>
                    <option>Miscellaneous</option>
                  </select>
                </div>
              <div class="form-group">
                <label for="comment">Description:</label>
                <textarea class="form-control" rows="5" id="desc" ng-model="listingDesc" required></textarea>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-6 col-md-4">
          <div class="panel panel-default">
            <div class="panel-heading"><strong>Location</strong></div>
            <div class="panel-body">
                <div class="form-group">
                  <!-- <input id="advanced-placepicker" class="form-control" data-map-container-id="collapseOne" /> -->
                  <label for="street">Street:</label>
                  <input type="text" id="street" class="form-control" ng-value="listingStreet" ng-model="listingStreet" required>
                </div>
                <div class="form-group">
                  <label for="city">City:</label>
                  <input type="text" id="city" class="form-control" ng-value="listingCity" ng-model="listingCity" required>
                </div>
                <div class="form-group">
                  <label for="postal">Postal:</label>
                  <input type="text" id="postal" class="form-control" ng-value="listingPostal" ng-model="listingPostal" required>
                </div>
                <div class="form-group">
                  <label for="country">Country:</label>
                  <select class="form-control newListingCountry" id="country" ng-model="listingCountry" required>
                    <option>Canada</option>
                    <option>United States</option>
                    <option>United Kingdom</option>
                    <option>Mexico</option>
                  </select>
                </div>
              <!--<div id="collapseOne" class="collapse">
                <div class="placepicker-map thumbnail"></div>
              </div> -->
            </div>
          </div>
        </div>
      </div>


      <div class="panel panel-default">
        <div class="panel-heading"><strong>Upload Photos</strong></div>
        <div class="panel-body">

          <!-- Standar Form -->
          <h4>Select files from your computer</h4>
          <form action="" method="post" enctype="multipart/form-data" id="js-upload-form">
            <div class="form-inline">
              <div class="form-group">
                <input type="file" name="files[]" id="js-upload-files" multiple>
              </div>
              <button type="submit" class="btn btn-sm btn-primary" id="js-upload-submit">Upload files</button>
            </div>
          </form>

          <!-- Drop Zone -->
          <h4>Or drag and drop files below</h4>
          <div class="upload-drop-zone" id="drop-zone">
            Just drag and drop files here
          </div>

          <!-- Progress Bar -->
          <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
              <span class="sr-only">60% Complete</span>
            </div>
          </div>

          <!-- Upload Finished -->
          <div class="js-upload-finished">
            <h3>Processed files</h3>
            <div class="list-group">
              <a href class="list-group-item list-group-item-success"><span class="badge alert-success pull-right">Success</span>image-01.jpg</a>
              <a href class="list-group-item list-group-item-success"><span class="badge alert-success pull-right">Success</span>image-02.jpg</a>
            </div>
          </div>
        </div>
      </div>

      <button type="submit" class="btn btn-lg btn-primary btn-block" id="js-listing-submit" ng-click="createListing()">Create Listing</button>

    </form>
  </div>
</div>