<div class="wrap">
   <div class="container">
      <div class="row">
         <div class="col-md-12">
            <div class="jumbotron profileBox">
               <div class="row">
                  <div class="col-md-3">
                  <img class="profileAvatar" ng-show="profile.profilePic == null" alt="User Avatar" src="images/default_avatar.png" />
                  <img class="profileAvatar" ng-show="profile.profilePic != null" alt="User Avatar" src="{{ profile.profilePic }}" />
                  <div class="row">
                        <div class="col-md-12">
                              <h3 ng-show="(receivedProviderAverage>0&&receivedProviderAverage<6) || (receivedRequestorAverage>0&&receivedRequestorAverage<6)">Average Rating</h3>
                              <div ng-show="receivedProviderAverage>0&&receivedProviderAverage<6">Jobs You've Completed: <br />
                              <input type="number" value="{{receivedProviderAverage}}" id="completedRating"><h3 style="margin-top: 5px">{{ receivedProviderAverage }}&nbsp;<small>({{ providerCount }} reviews)</small></h3><br /></div>
                              <div ng-show="receivedRequestorAverage>0&&receivedRequestorAverage<6">Jobs You've Posted: <br />
                              <input type="number" value="{{receivedRequestorAverage}}" id="postedRating"><h3 style="margin-top: 5px">{{ receivedRequestorAverage }}&nbsp;<small>({{ requestorCount }} reviews)</small></h3></div>
                        </div>
                  </div>
                  </div>
                  <div class="col-md-9">
                        <h2 class="text-left headtext">{{ profile.userFullName }}</h2>
                        <p><span class="glyphicon glyphicon-map-marker"></span> {{ profile.userAddressStreet }}, {{ profile.userAddressCity }},
                        {{ profile.userAddressCountry }}, {{ profile.userAddressPostal }}
                        </p>
                        <p><span class="glyphicon glyphicon-earphone"></span> {{ profile.userPhone }}</p>
                        <p>{{ profile.userDescription }}</p>
                        <p>
                              <ul class="nav">
                                    <li class="active" ng-repeat="skill in userSkills">
                                          <a class="badge pull-left" href><i class="glyphicon glyphicon-tags"></i>&nbsp;&nbsp;{{ skill.skillName }}</a>
                                    </li>
                              </ul>
                        </p>
                  </div>
               </div>
         </div>
      </div>
      <div class="row" ng-hide="providedJobs.length==0">
         <div class="col-md-12">
            <h2>Jobs You're Working On</h2>
            <div class="row">
               <div class="col-md-4 card" ng-repeat="job in providedJobs | startFrom:providerPage*pSize | limitTo:pSize">
                  <div class="thumbnail dashboardThumb">
                     <div class="pictureBox">
                     <img ng-show="job.jobImage == null" src="images/default_picture.png" class="jobPicture img-thumbnail thumbLarge" />
			   <img ng-show="job.jobImage != null" src="{{ job.jobImage }}" class="jobPicture img-thumbnail thumbLarge" /></div>
                     <div class="caption ">
                        <h3>
                           {{ job.jobTitle }}
                        </h3>
                        <p>
                           <span ng-show="job.jobStatus=='In Progress' " class="btn btn-warning btn-xs ">IN PROGRESS</span>
                           <span ng-show="job.jobStatus=='Awaiting Review' " class="btn btn-info btn-xs ">AWAITING REVIEW</span>
                        </p>
                        <p class="jobDesc">
                           {{ job.jobDescription | limitTo:125 }}...	
                        </p>
                        <div class="cardButtons ">
                           <a class="btn btn-primary " ng-show="job.jobStatus=='In Progress' " ng-click="viewListing(job.id) " href>View</a>
                           <a class="btn btn-primary " ng-click="reviewPage(job.id, job.acceptedBidId)" ng-show="job.jobStatus=='Awaiting Review'">Submit Review</a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <button class="left carousel-control paginationButton" ng-disabled="providerPage==0" ng-class="{'disabledButton': providerPage==0}" ng-hide="providedJobs.length<=pSize" ng-click="providerPage=providerPage-1 ">
            	<span class="glyphicon glyphicon-chevron-left arrowButtons"></span>
            </button>
            <button class="right carousel-control paginationButton" ng-disabled="providerPage>= providedJobs.length/pSize - 1" ng-hide="providedJobs.length<=pSize" ng-class="{'disabledButton': providerPage>= providedJobs.length/pSize - 1}" ng-click="providerPage=providerPage+1">
           		<span class="glyphicon glyphicon-chevron-right arrowButtons"></span>
            </button>
         </div>
      </div>
      <div class="row">
         <div class="col-md-12" ng-hide="requestedJobs.length==0">
            <h2>Jobs You've Posted</h2>
            <div class="row">
               <div class="col-md-4 card" ng-repeat="job in requestedJobs | startFrom:requestorPage*pSize | limitTo:pSize">
                  <div class="thumbnail dashboardThumb">
                     <div class="pictureBox">
                           <img ng-show="job.jobImage == null" src="images/default_picture.png" class="jobPicture img-thumbnail thumbLarge" />
			     <img ng-show="job.jobImage != null" src="{{ job.jobImage }}" class="jobPicture img-thumbnail thumbLarge" />
                     </div>
                     <div class="caption ">
                        <h3>
                           {{ job.jobTitle }}
                        </h3>
                        <p>
                           <span ng-show="job.jobStatus=='Completed' " class="btn btn-danger btn-xs ">COMPLETED</span>
                           <span ng-show="job.jobStatus=='Submitted' " class="btn btn-success btn-xs ">OPEN</span>
                           <span ng-show="job.jobStatus=='In Progress' " class="btn btn-warning btn-xs ">IN PROGRESS</span>
                        </p>
                        <p class="jobDesc ">
                           {{ job.jobDescription | limitTo:125 }}...	
                        </p>
                        <div class="cardButtons ">
                           <a class="btn btn-primary " ng-show="job.jobStatus=='In Progress' " ng-click="manageJob(job.id, job.acceptedBidId)" href>Manage</a> 
                           <a class="btn btn-primary " ng-show="job.jobStatus=='Submitted' " ng-click="viewListing(job.id) " href>View</a> 
                           <a class="btn btn-default " ng-show="job.jobStatus=='Submitted' " ng-click="deleteListing(job.id) " ng-confirm-click="You
                              are about to delete your listing! Are you sure you want to do this? " href>Delete</a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <button class="left carousel-control paginationButton" ng-disabled="requestorPage==0" ng-hide="requestedJobs.length<=pSize" ng-class="{'disabledButton': requestorPage==0}" ng-click="requestorPage=requestorPage-1 ">
            	<span class="glyphicon glyphicon-chevron-left arrowButtons"></span>
            </button>
            <button class="right carousel-control paginationButton" ng-disabled="requestorPage>= requestedJobs.length/pSize - 1" ng-hide="requestedJobs.length<=pSize" ng-class="{'disabledButton': requestorPage>= requestedJobs.length/pSize - 1}" ng-click="requestorPage=requestorPage+1">
           		<span class="glyphicon glyphicon-chevron-right arrowButtons"></span>
            </button>
         </div>
         <div class="text-right listingButtons">
            <button class="btn btn-primary btn-lg " id="newJobBtn " ng-click="newListing() " ng-show="loggedIn ">Create New Listing</button>
         </div>
      </div>
      <div class="row" ng-hide="receivedProviderReviews.length==0">
         <div class="col-md-12">
           <h2>Reviews for Jobs You've Completed</h2>
                  <div class="col-md-4 col-sm-6" ng-repeat="review in receivedProviderReviews | startFrom:receivedProviderPage*pSize | limitTo:pSize">
                     <div class="block-text rel zmin">
                        <a ng-click="viewListing(review.reviewedJobId)">{{ review.jobReview.jobTitle }}</a>
                        <div class="mark"><star-rating ng-model="review.reviewRating" readonly="isRatingReadonly"></star-rating>
                        </div>
                        <p> {{ review.reviewComments }} </p>
                     </div>
                     <div class="person-text">
                        <img ng-show="profile.profilePic == null" alt="User Avatar" src="images/default_avatar.png" class="img-circle requestorAvatar" />
                        <img ng-show="profile.profilePic != null" alt="User Avatar" src="{{ review.submittedReviews.profilePic }}" class="img-circle requestorAvatar" />
                        <a title="" href="#" ng-click="viewUser(review.submittedReviews.id)">{{ review.submittedReviews.userFullName }}</a>
                        <i>{{ review.reviewDate | timeAgo:'MM/dd/yyyy' }}</i>
                     </div>
                  </div>
            <button class="left carousel-control paginationButton" ng-disabled="receivedProviderPage==0" ng-hide="receivedProviderReviews.length<=pSize" ng-class="{'disabledButton': receivedProviderPage==0}" ng-click="receivedProviderPage=receivedProviderPage-1 ">
            	<span class="glyphicon glyphicon-chevron-left arrowButtons"></span>
            </button>
            <button class="right carousel-control paginationButton" ng-disabled="receivedProviderPage>= receivedProviderReviews.length/pSize - 1" ng-hide="receivedProviderReviews.length<=pSize" ng-class="{'disabledButton': receivedProviderPage>= receivedProviderReviews.length/pSize - 1}" ng-click="receivedProviderPage=receivedProviderPage+1">
           		<span class="glyphicon glyphicon-chevron-right arrowButtons"></span>
            </button>
         </div>
      </div>
      <div class="row" ng-hide="receivedRequestorReviews.length==0">
         <div class="col-md-12">
           <h2>Reviews for Jobs You've Posted</h2>
                  <div class="col-md-4 col-sm-6" ng-repeat="review in receivedRequestorReviews | startFrom:receivedRequestorPage*pSize | limitTo:pSize">
                     <div class="block-text rel zmin">
                        <a ng-click="viewListing(review.reviewedJobId)">{{ review.jobReview.jobTitle }}</a>
                        <div class="mark"><star-rating ng-model="review.reviewRating" readonly="isRatingReadonly"></star-rating>
                        </div>
                        <p> {{ review.reviewComments }} </p>
                     </div>
                     <div class="person-text">
                         <img ng-show="profile.profilePic == null" alt="User Avatar" src="images/default_avatar.png" class="img-circle requestorAvatar" />
                        <img ng-show="profile.profilePic != null" alt="User Avatar" src="{{ review.submittedReviews.profilePic }}" class="img-circle requestorAvatar" />
                        <a title="" href="#" ng-click="viewUser(review.submittedReviews.id)">{{ review.submittedReviews.userFullName }}</a>
                        <i>{{ review.reviewDate | timeAgo:'MM/dd/yyyy' }}</i>
                     </div>
                  </div>
            <button class="left carousel-control paginationButton" ng-disabled="receivedRequestorPage==0" ng-hide="receivedRequestorReviews.length<=pSize" ng-class="{'disabledButton': receivedRequestorPage==0}" ng-click="receivedRequestorPage=receivedRequestorPage-1 ">
            	<span class="glyphicon glyphicon-chevron-left arrowButtons"></span>
            </button>
            <button class="right carousel-control paginationButton" ng-disabled="receivedRequestorPage>= receivedRequestorReviews.length/pSize - 1" ng-hide="receivedRequestorReviews.length<=pSize" ng-class="{'disabledButton': receivedRequestorPage>= receivedRequestorReviews.length/pSize - 1}" ng-click="receivedRequestorPage=receivedRequestorPage+1">
           		<span class="glyphicon glyphicon-chevron-right arrowButtons"></span>
            </button>
         </div>
      </div>
   </div>
</div>