<div class="wrap">
	<div class="container">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
					<div class="jumbotron">
						<h2>
							{{ managementInformation.jobTitle }}
						</h2>
						<p><span class="glyphicon glyphicon-map-marker"></span> {{ managementInformation.jobAddressStreet }}, {{ managementInformation.jobAddressCity }}, {{ managementInformation.jobAddressCountry }}, {{ managementInformation.jobAddressPostal }}</p>
								<p>
									{{ managementInformation.jobDescription }}
								</p>
					</div>
					<div class="row"><h2>
						Job to be Completed by
					</h2></div>
					<div class="row">
						<div class="col-md-5">
							<p>
								<h3 class="text-left">{{ providerInfo.userFullName }}</h3>
								<img class="profileAvatar" ng-show="providerInfo.profilePic == null" alt="User Avatar" src="images/default_avatar.png" />
                				<img class="profileAvatar" ng-show="providerInfo.profilePic != null" alt="User Avatar" src="{{ providerInfo.profilePic }}" />
								<br /><br />
								<p><span class="glyphicon glyphicon-map-marker"></span> {{ providerInfo.userAddressStreet }}, {{ providerInfo.userAddressCity }},
									{{ providerInfo.userAddressCountry }}, {{ providerInfo.userAddressPostal }}</p>
								<p><span class="glyphicon glyphicon-envelope"></span> {{ providerInfo.email }}</p>
								<p><span class="glyphicon glyphicon-earphone"></span> {{ providerInfo.userPhone }}</p>
								<h3 class="text-success text-left" ng-repeat="bid in acceptedBidList">
									{{ bid.bidPrice | currency }} <small>{{ bid.bidDate | date:'MM/dd/yyyy' }}</small>
								</h3>
							</p>
							
						</div>
						<div class="col-md-7">
							<h3>
								Job Finished? Submit a review to close your listing! 
							</h3>
							<form role="form">
								<div class="form-group">
									<label for="comment">
										Comment
									</label>
									<textarea rows="5" ng-model="reviewComment" class="form-control" id="comment" /></textarea>
								</div>
								<input type="text" ng-model="rate" id="starRating"><br /><br />
								<button type="submit" class="btn btn-primary" ng-click="reviewProvider(managementInformation.id, managementInformation.requestorId, managementInformation.providerId)">Submit Review</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>